<html lang="en" >
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Angular Material style sheet -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style>
.highlight {
    font-weight: bold;
    color: red;
}

.hover-opacity:hover {
    opacity: 0.5;
    cursor: pointer;
}

md-tab-data{
  position: relative;
}

</style>

</head>
<body ng-app="app" ng-controller="ctrl" ng-cloak>
<!--
Your HTML content here
-->

<md-tabs md-dynamic-height md-border-bottom md-center-tabs="true">















<md-tab label="VIEW PAST WAVES">

<div layout="row" layout-align="center" style="padding: 2rem 2rem;">

<div layout="column" layout-align="center" style="width: 30rem">

    <md-card style="padding: 1rem;">
    
    <md-card-header>
    <p>
    <span style="font-size: 1.5em">Please select a wave to view.</span>
    <br><br>
    <span style="font-size: 0.875em;">Click the refresh button to update the wave information.</span>
    </p>
    </md-card-header>
    
    <div style="display:inline-block">
    <md-autocomplete
        id="autoPast"
        md-selected-item="pastForm"
        md-search-text="searchTextPastForm"
        md-no-cache="true"
        md-items="form in updatePastForms()"
        md-item-text="form.name"
        md-min-length="0"
        placeholder="Enter Wave Name"
        md-autoselect=true
        style="display:inline-block; width:85%">
            <md-item-template>
                <div layout="row">
                    <span md-highlight-text="searchTextPastForm" md-highlight-flags="gi">
                        {{form.name + " (" + (form.dateCreated | date:'mediumDate') + "), " + form.division + ", " +  form.responseLengthString + ", " + form.status}}
                    </span>
                </div>
            </md-item-template>
    </md-autocomplete>
    <md-button class="md-icon-button" style="display:inline-block" ng-click="refreshPastForms()">
        <i class="material-icons">refresh</i>
    </md-button>
    </div>
    
    <br>
    
    <md-button style="width: 100%; margin:0" ng-disabled="!validForm(pastForm)" class="md-raised md-primary" ng-click="openWindow(pastForm.url)">
        GO TO FORM
    </md-button>
    
    <br>
    
    <md-button style="padding: 0 2rem 0; width: 100%; margin:0" ng-if="pastForm.isMatched" ng-click="openWindow(pastForm.sheetUrl + '#gid=0')" type="submit" class="md-raised md-accent">
        See Current Match
    </md-button>
    
    </md-card>
    
    
    <md-card style="padding: 1rem" ng-if="validForm(pastForm)">
    
    <md-button style="width: 100%; margin:0" ng-disabled="!validForm(pastForm) || isDeleting" class="md-raised md-warn" ng-click="confirmDelete()">
        DELETE FORM
    </md-button>
    
    </md-card>
    
    <div id="toastContainerDeleted" style="min-height: 4rem"></div>
    
    
</div>
    

</div>

</md-tab>




















<md-tab label="CREATE NEW WAVE">

<div layout="row" layout-align="center" style="padding: 2rem 2rem;">

<div layout="column">

    <md-card style="padding: 1rem;">
    
        <md-card-title>
            <md-input-container style="margin-bottom: 0;" ng-disabled="newWave.wave.length > 0">
                <label>Enter Wave Name</label>
                <input ng-required="true" ng-model="newWave.title">
            </md-input-container>
        </md-card-title>
    
        <md-divider></md-divider>
        
        <md-card-content>

        <md-input-container>
        <label>Division</label>
        <md-select ng-model="selectedDivision" ng-disabled="newWave.wave.length > 0" aria-label="SelectDivision">
            <md-option ng-repeat="d in divisions" ng-value="d">
                {{d}}
            </md-option>
        </md-select>
        </md-input-container>
        
        <br>
        
        <md-autocomplete
            md-selected-item="selectedTeam"
            md-search-text="searchText"
            md-no-cache="newWave.wave.length == 0"
            md-items="team in queryTeams()"
            md-item-text="team.name"
            md-min-length="0"
            placeholder="Enter Team Name"
            md-autoselect=true>
            <md-item-template>
                <div layout="row">
                    <img style="height: 3rem; padding-right:1rem" ng-src="{{team.logo}}">
                    <span md-highlight-text="searchText" md-highlight-flags="gi">{{team.name}}</span>
                </div>
            </md-item-template>
        </md-autocomplete>
        
        <br>
        
        <md-input-container style="margin-bottom: 0; padding-right: 1rem">
            <md-datepicker ng-model="date" md-placeholder="Enter Date" md-min-date="today" md-open-on-focus></md-datepicker>
        </md-input-container>
        
        <md-input-container style="margin-bottom: 0;">
            <label>Taxable Benefit</label>
            <input ng-required="true" ng-model="tax" type="number">
        </md-input-container>
        
        </md-card-content>
        
        <md-card-footer>
        
        <md-button class="md-raised md-primary"
            ng-click="addTeam()" 
            ng-disabled="!addEnabled()" 
            style="width: 100%; margin:0">
            Add
        </md-button>
        
        
        </md-card-footer>
            
    </md-card>
    
    <br>
    
    <div id="toastContainerSuccess" style="min-height: 4rem">
    
    <md-card style="padding: 1rem" ng-if="newWave.wave.length > 0">
    
    <md-card-content>
    
    <table>
        <tr ng-repeat="obj in newWave.wave">
            <td style="padding:5px">
                {{obj.team}}
            </td>
            <td style="padding:5px">
                {{obj.date}}
            </td>
            <td style="padding:5px">
                {{obj.tax | currency}}
            </td>
            <td style="padding:5px">
                <md-tooltip md-direction="right">Remove</md-tooltip>
                <i class="material-icons" style="cursor: pointer" ng-click="remove(obj)">
                    clear
                </i>
            </td>
        </tr>
    </table>
    
    </md-card-content>
    
    <md-card-footer>
    
    <md-button class="md-raised md-primary" ng-click="makeForm()"
    ng-disabled="!(newWave.wave.length > 0 && newWave.title.length > 0)" 
    style="width: 100%; margin:0">
    Create wave
    </md-button>
    
    <md-progress-linear ng-if="creating" md-mode="indeterminate"></md-progress-linear>
    
    </md-card-footer>
    
    </md-card>
    
    </div>
    
</div>

</div>

</md-tab>



















<md-tab label="CONDUCT MATCHING">

<div layout="row" layout-align="center" style="padding: 2rem 2rem;">

<div layout="column" layout-align="center" style="width: 30rem">

    <md-card style="padding: 1rem;">
    
    <md-card-header>
    <p>
    <span style="font-size: 1.5em">Please select a wave for matching.</span>
    <br><br>
    <span style="font-size: 0.875em; font-weight:bold">Note: Matching is only possible for waves that have been CLOSED.</span>
    <br><br>
    <span style="font-size: 0.875em;">Click the refresh button to update the wave information.</span>
    </p>
    </md-card-header>
    
    <div style="display:inline-block">
    <md-autocomplete
        id="autoClosed"
        md-selected-item="selectedForm"
        md-search-text="searchTextSelectedForm"
        md-no-cache="true"
        md-items="form in updateClosedForms()"
        md-item-text="form.name"
        md-min-length="0"
        placeholder="Enter Wave Name"
        md-autoselect=true
        style="display:inline-block; width:85%">
            <md-item-template>
                <div layout="row">
                    <span md-highlight-text="searchTextSelectedForm" md-highlight-flags="gi">
                        {{form.name + " (" + (form.dateCreated | date:'mediumDate') + "), " + form.division + ", " +  form.responseLengthString}}
                    </span>
                </div>
            </md-item-template>
    </md-autocomplete>
    <md-button class="md-icon-button" style="display:inline-block" ng-click="refreshClosedForms()">
        <i class="material-icons">refresh</i>
    </md-button>
    </div>
    
    <br>
    
    <md-button style="width: 100%; margin:0" ng-disabled="!validForm(selectedForm)" class="md-raised md-primary" ng-click="loadSelectedForm()">
        Load
    </md-button>
    
    <md-progress-linear ng-if="loadingSelectedForm" md-mode="indeterminate"></md-progress-linear>
    
    </md-card>
    
    <br>
    
    <md-card style="padding: 1rem" ng-if="formLoaded && validForm(selectedForm)">

    <table>
        <tr>
            <th>Game</th>
            <th>Capacity</th>
        </tr>
        <tr ng-repeat="g in formGames">
            <td style="padding: 0px 10px">
                {{g.name}}
            </td>
            <td style="padding: 0px 10px">
                <md-input-container style="padding:0; margin-bottom:0">
                    <input ng-required="true" ng-model="g.capacity" style="width:5rem" type="number" aria-label="CapacityInput">
                </md-input-container>
            </td>
        </tr>
    </table>
    
    <br>
    
    <md-button style="width: 100%; margin:0" ng-disabled="!validCapacities() || matching" class="md-raised md-primary" ng-click="match()">
        Match
    </md-button>
    
    <md-progress-linear ng-if="matching" md-mode="indeterminate"></md-progress-linear>
    
    <br>
    
    <md-button style="padding: 0 2rem 0; width: 100%; margin:0" ng-if="selectedForm.isMatched" ng-click="openWindow(selectedForm.sheetUrl + '#gid=0')" type="submit" class="md-raised md-accent">
        See Current Match
    </md-button>
    
    <!-->
    <br>
    
    <md-button style="width: 100%; margin:0" ng-disabled="!selectedForm.isMatched" class="md-raised md-primary" ng-click="saveMatchResults()">
        Save Results
    </md-button>
    
    <!-->
    
    </md-card>
    
    <div id="toastContainerMatchError" style="min-height:4rem"></div>
    
</div>
    

</div>

</md-tab>

















</md-tabs>















<!-- Your application bootstrap  -->
<script type="text/javascript">    
/**
 * You must include the dependency on 'ngMaterial' 
 */
var app = angular.module('app', ['ngMaterial', 'ngMessages']);

var restService = function($http){

    const server = "http://localhost:2000";
    
    var _getTeams = function(){
        return $http.get(server + "/teams-get");
    }
    
    var _matchEmployees = function(data){
        return $http.post(server + "/match", data);
    }
    
    var _saveRanks = function(data){
        return $http.post(server + "/save-ranks", data);
    }
    
    return {
        getTeams: _getTeams,
        matchEmployees: _matchEmployees,
        saveRanks: _saveRanks
    }
}

app.factory("restService", ["$http", restService]);

app.filter('trusted', ['$sce', function ($sce) {
   return $sce.trustAsResourceUrl;
}]);

var ctrl = app.controller("ctrl", function($scope, $filter, restService, $mdToast, $q, $window, $timeout){
        
    $scope.date = "";
    $scope.tax = null;
    $scope.divisions = ["NHL", "NBA"]
    $scope.selectedDivision = $scope.divisions[0];
    
    $scope.teams = [];
    $scope.pastForms = [];
    
    $scope.newWave = {}
    $scope.newWave.wave = [];
    $scope.newWave.title = "";
    
    $scope.today = new Date();
    
    $scope.updateClosedForms = function(){
        $scope.selectedForm = null;
        $scope.formLoaded = false;
        if($scope.pastForms.length > 0){
            return $scope.pastForms.filter(closedFormFilter).sort(closedFormSort);
        }
        else{
            return $q(function(resolve, reject){
                google.script.run.withSuccessHandler(function(forms){
                    $scope.pastForms = forms;
                    resolve(forms.filter(closedFormFilter).sort(closedFormSort));
                }).withFailureHandler(function(err){
                    console.log(err);
                    errorMessage();
                    reject(err);
                }).getPastForms();
            });           
        }

    }
    

    function closedFormFilter(obj){
        return obj.name.toLowerCase().includes($scope.searchTextSelectedForm.toLowerCase()) && obj.status == "CLOSED";
    }
    
    function closedFormSort(obj1, obj2){
        // Descending
        return (obj1.dateCreated <= obj2.dateCreated) ? 1 : -1
    }
    
    $scope.refreshClosedForms = function(){
        $scope.pastForms = [];
        var autoChild = document.getElementById('autoClosed').firstElementChild;
        var autocompleteCtrl = angular.element(autoChild).scope().$mdAutocompleteCtrl;
        if(autocompleteCtrl.scope.searchText){
            autocompleteCtrl.clear();
        }
        autoChild.getElementsByTagName("input")[0].focus();
    }
    
    
    $scope.updatePastForms = function(){
        $scope.pastForm = null;
        if($scope.pastForms.length > 0){
            return $scope.pastForms.filter(pastFormFilter).sort(pastFormSort);
        }
        else{
            return $q(function(resolve, reject){
                google.script.run.withSuccessHandler(function(forms){
                    $scope.pastForms = forms;
                    resolve(forms.filter(pastFormFilter).sort(pastFormSort));
                }).withFailureHandler(function(err){
                    console.log(err);
                    errorMessage();
                    reject(err);
                }).getPastForms();
            });            
        }

    }
    
    function pastFormFilter(obj){
        return obj.name.toLowerCase().includes($scope.searchTextPastForm.toLowerCase());
    }
    
    function pastFormSort(obj1, obj2){
        // Descending
        return (obj1.dateCreated <= obj2.dateCreated) ? 1 : -1
    }
    
    $scope.refreshPastForms = function(){
        $scope.pastForms = [];
        var autoChild = document.getElementById('autoPast').firstElementChild;
        var autocompleteCtrl = angular.element(autoChild).scope().$mdAutocompleteCtrl;
        if(autocompleteCtrl.scope.searchText){
            autocompleteCtrl.clear();
        }
        autoChild.getElementsByTagName("input")[0].focus();
    }
    
    
    $scope.openWindow = function(url){
        $window.open(url, '_blank')
    }
    
    $scope.confirmDelete = function(){
    
        $scope.isDeleting = true;
    
        var deleteWave = $window.confirm('Are you absolutely sure you want to delete?');
        
        var waveName = $scope.pastForm.name;

        if (deleteWave) {
            google.script.run.withSuccessHandler(function(){
                
                $scope.pastForm = null;
                $scope.pastForms = [];
                $scope.isDeleting = false;
                
                var autoChild = document.getElementById('autoPast').firstElementChild;
                var autocompleteCtrl = angular.element(autoChild).scope().$mdAutocompleteCtrl;
                if(autocompleteCtrl.scope.searchText){
                    //autocompleteCtrl.clear();
                }
                autoChild.getElementsByTagName("input")[0].value = "";
                
                var text =  waveName + " deleted!"
                var position = "top left"
                var elementId = "toastContainerDeleted"
                var delay = 10000
                toastElement(text, position, elementId, delay);
                
            }).withFailureHandler(function(err){
                console.log(err);
                errorMessage();
                reject(err);
            }).deleteWave($scope.pastForm);
            

        }
    }
    
    
    $scope.queryTeams = function(){
        if($scope.teams.length < 1){
            return restService.getTeams().then(function(res){
                $scope.teams = res.data;
                return $scope.teams.filter(teamFilter).sort(teamSort);
            }, function(err){
                return [];
            });     
        }
        else{
            return $scope.teams.filter(teamFilter).sort(teamSort);
        }
    }
    
    function teamFilter(obj){
        return obj.name.toLowerCase().includes($scope.searchText.toLowerCase()) && obj.division == $scope.selectedDivision;
    }
    
    function teamSort(obj1, obj2){
        return obj1.name.toLowerCase().indexOf($scope.searchText.toLowerCase()) - obj2.name.toLowerCase().indexOf($scope.searchText.toLowerCase());
    }
    
    $scope.addEnabled = function(){
        if (($scope.searchText != "") && ($scope.tax >= 0) && $scope.date != ""){
            return true;
        }
        else return false;
    }
        
    $scope.addTeam = function(){ 
     
        var obj = {
            "team": $scope.searchText,
            "tax": $scope.tax,
            "date": $filter('date')($scope.date, "yyyy-MM-dd")
        }
        $scope.newWave.wave.push(obj);
        resetFields();
    }
    
    $scope.remove = function(element) {
      var index = $scope.newWave.wave.indexOf(element);
      $scope.newWave.wave.splice(index, 1);
    }
    
    function resetFields(){
        $scope.date = "";
        $scope.tax = "";
        $scope.searchText = "";
    } 
    
    
    $scope.makeForm = function(){
    
        $scope.creating = true;
        
        var values = $scope.newWave.wave.map(function(obj){
            return obj.date + " (" + obj.team + ", " + $filter('currency')(obj.tax) + ")";
        });
        
        google.script.run.withSuccessHandler(function(){
            
            var text = $scope.newWave.title + " created! Go to the VIEW PAST WAVES tab to see the form."
            var position = "top left"
            var elementId = "toastContainerSuccess"
            var delay = 20000
            toastElement(text, position, elementId, delay);
            
            $scope.creating = false;
            $scope.newWave.wave = [];
            $scope.newWave.title = "";
            
            $scope.pastForms = [];
            
        }).withFailureHandler(function(err){
            console.log(err);
            errorMessage();
        }).createForm(values, $scope.newWave.title, $scope.selectedDivision);
        
    }
    
    $scope.validForm = function(form){
        if(form != null) return true;
        else return false;
    }
    
    $scope.loadSelectedForm = function(){
        $scope.loadingSelectedForm = true;
        $scope.matchingSuccess = false;
        
        google.script.run.withSuccessHandler(function(obj){
            console.log(obj);
            $scope.formGames = obj.games;
            $scope.formResponses = obj.responses;
            $scope.formDivision = obj.division;
            
            $scope.formLoaded = true;
            $scope.loadingSelectedForm = false;
            
            
            var defaultCapacity = 0
            if(obj.division == "NHL"){
                defaultCapacity = 17;
            }
            
            if(obj.division == "NBA"){
                defaultCapacity = 22;
            }
            
            angular.forEach($scope.formGames, function(obj){
                obj.capacity = defaultCapacity
            });
            
            $scope.$apply();
            
        }).withFailureHandler(function(err){
            console.log(err);
            $scope.loadingSelectedForm = false;
            errorMessage();
        }).getFormGames($scope.selectedForm);
        
        
    }
    
    $scope.validCapacities = function(){
        var flag = true;
        angular.forEach($scope.formGames, function(obj) {
            if(!(obj.capacity >= 0)) flag = false;
        })
        return flag;
    }
    
    $scope.match = function(){
        $scope.matching = true;
        
        // Error message information
        var errorText = "An ERROR occurred with the matching!"
        var errorPosition = "top left"
        var errorElementId = "toastContainerMatchError"
        var errorDelay = 20000
        
        var responses = $scope.formResponses;
        var capacities = {}
        $scope.formGames.forEach(function(obj){
            capacities[obj.name] = obj.capacity
        });
        var division = $scope.formDivision;
        
        var reqData = [responses, capacities, division]
        
        restService.matchEmployees(reqData).then(function(res){
            
            $scope.sol = res.data;
            
            google.script.run.withSuccessHandler(function(sheetUrl){
                $scope.matching = false;
                $scope.matchingSuccess = true;
                $scope.selectedForm.isMatched = true;
                $scope.selectedForm.sheetUrl = sheetUrl
                $scope.$apply();
            
            }).withFailureHandler(function(err){
                console.log(err);
                $scope.matching = false;
                $scope.matchingSuccess = false;
                toastElement(errorText, errorPosition, errorElementId, errorDelay);
            }).createSpreadsheet($scope.selectedForm, $scope.sol)
            
        }, function(err){
            console.log(err);
            $scope.matching = false;
            $scope.matchingSuccess = false;
            toastElement(errorText, errorPosition, errorElementId, errorDelay);
        });
    }
    
    $scope.saveMatchResults = function(){
        
        google.script.run.withSuccessHandler(function(ranks){
        
            $scope.matchResults = ranks;
            
            console.log(ranks);
          
            var reqData = {
                "ranks": ranks,
                "division": $scope.formDivision
            };
          
            restService.saveRanks(reqData).then(function(res){
                showToast("Updated ranks!");
                
            }, function(err){
                console.log(err);
                errorMessage();
            });
          
        }).withFailureHandler(function(err){
            console.log(err);
            errorMessage();
        }).loadMatchResults($scope.selectedForm);
        
    }
    
    function showToast(x){
        $mdToast.show(
            $mdToast.simple()
            .textContent(x)
            .position("top left")
            .capsule(true)
            .hideDelay(5000)
            
        );
    }
    
    function toastElement(text, position, elementId, delay){
        $mdToast.show(
            $mdToast.simple()
            .textContent(text)
            .position(position)
            .capsule(true)
            .hideDelay(delay)
            .parent(document.getElementById(elementId))
        );
    }
    
    function errorMessage(){
        $mdToast.show(
            $mdToast.simple()
            .textContent('An error occured!')
            .position("top left")
            .capsule(true)
            .hideDelay(5000)
            
        );
    }
    
    

});


</script>

</body>
</html>