<div class="container">

  <div class="panel-light">

    <button mat-button (click)="addGame()">
      Add Game
    </button>

    <h2>Add a Game</h2>

    <div fxLayout="column" fxLayoutAlign="20px">
      <mat-form-field>
        <mat-label>Playing</mat-label>
        <input matInput [matAutocomplete]="home" [(ngModel)]="nhlPlaying">
      </mat-form-field>
      <mat-autocomplete #home="matAutocomplete">
        <mat-option *ngFor="let t of teamsService.nhlTeams | filter: 'team' : nhlPlaying" [value]="t.team">
          {{t.team}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field>
        <input matInput [matDatepicker]="nhlDatepicker" placeholder="Choose a date" [value]="nhlDate.value">
        <mat-datepicker-toggle matSuffix [for]="nhlDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #nhlDatepicker></mat-datepicker>
      </mat-form-field>
      
      <button mat-button style="width: 90%; margin: 1rem 0; background-color: rgba(0,0,0,0.1)">
        Add Game
      </button>


    </div>


    <!--
    <ag-grid-angular [gridOptions]="teamsService.nhlGO" class="ag-theme-material" style="height: 30rem; width: 30rem; margin-bottom: 1rem">
    </ag-grid-angular>
    -->

  </div>

</div>