<div id="sidebar">

  <div class="item" fxLayout="row" fxLayoutAlign=" center" (click)="router.navigate(['home'])">
    <mat-icon>home</mat-icon>
    <span>Home</span>
    <div [ngClass]="{'current': router.url == '/home'}"></div>
  </div>

  <div class="item" fxLayout="row" fxLayoutAlign=" center" (click)="router.navigate(['ranking'])">
    <mat-icon>format_list_numbered</mat-icon>
    <span>Rankings</span>
    <div [ngClass]="{'current': router.url == '/ranking'}"></div>
  </div>

  <div class="item" fxLayout="row" fxLayoutAlign=" center" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </div>

</div>